.imageGallery {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 50vh;
	overflow: hidden;
	border-radius: 10px;

	margin-top: 40px;
}

.imageGallery i {
	font-size: 2rem;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

.imageGallery i.fa-arrow-left {
	left: 10px;
}

.imageGallery i.fa-arrow-right {
	right: 10px;
}

.imageGallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 768px) {
	.imageGallery {
		height: 40vh;
	}
}
