@use '../../_variables.scss';

#ProjectSection {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.projectsList {
	list-style: none;
	width: 100%;
	height: fit-content;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  

@media (max-width: 768px) {
}
