@import '../../_variables.scss';

.projectCardContainer {
  width: calc(100% / 3);
  padding: 20px;
  a {
    text-decoration: none;
  }
  .projectCard {
    border-radius: 10px;
    height: 340px;
    width: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    .projectCardShaddow {
      background: linear-gradient(
        transparent,
        transparent,
        transparent,
        $secondary-color
      );
      display: flex;
      align-items: flex-end;
      padding: 0px 20px;
      height: 100%;
      width: 100%;
    }
  }
  h2 {
    color: $text-color-primary;
    font-size: 18px;
    font-weight: $font-wheight-regular;
    width: 40%;
    line-height: 25.67px;
  }
}


@media(max-width: 768px) {
  .projectCardContainer{
    width: 100%;
    padding: 10px 0;
  }
  .projectCard{
    height: 255px;
  }
}