@use '../variables';

#navbar {
	background-color: variables.$navbar-color-1;
	width: 15%;
	height: 100vh;
	top: 0;
	left: 0;

	position: fixed;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 68px;
	}

	li {
		display: flex;
		flex-direction: column;

		.linkNavbar {
			display: block;
			padding: 10px 20px;
			color: white;
			text-decoration: none;
			transition: background-color 0.3s ease;

			&.active {
				background-color: variables.$navbar-color-2;
			}

			&:hover {
				background-color: lighten(variables.$navbar-color-2, 10%);
			}
		}
	}
}
