$title-color-1: #fdb2be;
$title-color-2: #DE8191;

$navbar-color-1: #85A8D6;
$navbar-color-2: #7192BE;

$background-color-1: #A6D18A;
$background-color-2: #678E6F;
$text-color-primary: #FFFFFF;


$font-wheight-thin : 400;
$font-wheight-regular : 500;
$font-wheight-bold : 700;


